<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pawan.healthcareapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.pawan.healthcareapp.MyCalendarDoctorActivity"></activity>
        <activity android:name="com.pawan.healthcareapp.TestActivity" />
        <activity android:name="com.pawan.healthcareapp.AppointementActivity" />
        <activity android:name="com.pawan.healthcareapp.FicheInfo" />
        <activity android:name="com.pawan.healthcareapp.PatientInfoActivity" />
        <activity android:name="com.pawan.healthcareapp.DossierMedical" />
        <activity android:name="com.pawan.healthcareapp.ChatActivity" />
        <activity android:name="com.pawan.healthcareapp.PatientRequestPage" />
        <activity android:name="com.pawan.healthcareapp.DoctorHomeActivity" />
        <activity android:name="com.pawan.healthcareapp.EditProfileDoctorActivity" />
        <activity android:name="com.pawan.healthcareapp.ConfirmedAppointmensActivity" />
        <activity android:name="com.pawan.healthcareapp.PatientAppointementsActivity" />
        <activity android:name="com.pawan.healthcareapp.ProfilePatientActivity" />
        <activity android:name="com.pawan.healthcareapp.MyDoctorsAvtivity" />
        <activity android:name="com.pawan.healthcareapp.ProfileDoctorActivity" />
        <activity android:name="com.pawan.healthcareapp.EditProfilePatientActivity" />
        <activity android:name="com.pawan.healthcareapp.DoctorAppointementActivity" />
        <activity android:name="com.pawan.healthcareapp.FicheActivity" />
        <activity android:name="com.pawan.healthcareapp.MyPatientsActivity" />
        <activity android:name="com.pawan.healthcareapp.SearchPatActivity" />
        <activity android:name="com.pawan.healthcareapp.FirstSigninActivity" />
        <activity android:name="com.pawan.healthcareapp.HomeActivity" />
        <activity android:name="com.pawan.healthcareapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>